* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --main-green-color: #138e53;
  --main-white-text-color: #ffffff;
}

.tag-style {
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main-container-wrapper {
  display: grid;
  place-items: center;
}

.main-container {
  position: relative;
  background: url("../img/hero-background.png");
  top: 20px;

  width: 80vw;
  color: var(--main-white-text-color);
  background-repeat: no-repeat;
  padding: 40px 50px 140px 50px;
  background-size: cover;
  border-radius: 24px;
}

.main-container .show-products {
  background-color: var(--main-green-color);
  color: var(--main-white-text-color);
  padding: 8px 24px;
  border-radius: 8px;
}

.navbar {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.navbar h2 {
  font-size: 38px;
  color: var(--main-green-color);
}

.navbar ul {
  display: flex;
  gap: 24px;
}

.navbar li {
  color: var(--main-white-text-color);
  cursor: pointer;
}

.main-container .logo-container {
  display: flex;
}

.main-container .logo {
  margin-right: 10px;
}
.hero {
  margin-top: 90px;
}

.hero .title-hero {
  font-weight: bolder;
  font-size: 72px;
  max-width: 580px;
  margin-bottom: 12px;
}

.categories-container {
  max-width: 1240px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.categories-container h2 {
  font-size: 48px;
  font-weight: normal;
  max-width: 800px;
}

.categories-card-container {
  display: flex;
  gap: 30px;
}

.categories-container .categories-card {
  background: url("../img/categoriesimageTest.png");
  background-repeat: no-repeat;
  height: 400px;
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: var(--main-white-text-color);
  text-align: center;
  background-size: cover;
  border-radius: 24px;
}

.categories-container .categories-card p {
  font-size: 20px;
  max-width: 300px;
}
