* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --main-green-color: #138e53;
  --main-green-color-hover: #14834d;
  --green-color-with-opacity: #138e5310;
  --main-white-text-color: #ffffff;
  --border-gray-color: #d6d6db;
}

.tag-style {
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main-container-wrapper {
  display: grid;
  place-items: center;
}

.main-container {
  position: relative;
  background: url("../img/hero-background.png");
  top: 20px;

  width: 100%;

  max-width: 1300px;
  color: var(--main-white-text-color);
  background-repeat: no-repeat;
  padding: 40px 50px 140px 50px;
  background-size: cover;
  border-radius: 24px;
}

.main-container .show-products {
  background-color: var(--main-green-color);
  color: var(--main-white-text-color);
  padding: 8px 24px;
  border-radius: 8px;
  transition: 0.2s;
}

.main-container .show-products:hover {
  background-color: var(--main-green-color-hover);
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.navbar h2 {
  font-size: 38px;
  color: var(--main-green-color);
}

.navbar ul {
  display: flex;
  gap: 24px;
}

.navbar li {
  color: var(--main-white-text-color);
  cursor: pointer;
  transition: 0.2s;
}

.navbar li:hover {
  font-weight: 600;
}

.main-container .logo-container {
  display: flex;
}

.main-container .logo {
  margin-right: 10px;
}
.hero {
  margin-top: 90px;
}

.hero .title-hero {
  font-weight: bolder;
  font-size: 72px;
  max-width: 580px;
  margin-bottom: 12px;
}

.categories-container-wrapper {
  margin: 0 30px;
}

.categories-container {
  max-width: 1208px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.categories-container h2 {
  font-size: 48px;
  font-weight: normal;
  max-width: 800px;
  margin-bottom: 24px;
}

.categories-card-container {
  display: flex;
  gap: 16px;
}

.categories-container .categories-card {
  background: url("../img/categoriesimageTest.png");
  background-repeat: no-repeat;
  height: 400px;
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: var(--main-white-text-color);
  text-align: center;
  background-size: cover;
  border-radius: 24px;
  width: 356px;
}

.categories-container .categories-card p {
  font-size: 20px;
  max-width: 380px;
}

.products-container-wrapper {
  margin: 0 30px;
}

.products-container {
  max-width: 1208px;
  width: 100%;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
}

.products-container h2 {
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 24px;
}

.products-cards-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.products-container .product-card {
  border: 1px solid var(--border-gray-color);
  border-radius: 24px;
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s;
}

.products-container .product-card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.product-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card-header .cart-icon {
  background-color: var(--green-color-with-opacity);
  padding: 12px 12px;
  border-radius: 8px;
}

.product-image {
  max-width: 260px;
  max-height: 285px;
  width: 100%;
  height: 100%;
}

.product-card .price-and-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card .price-and-name h3 {
  font-weight: normal;
}

.tag-product-card {
  background-color: var(--main-green-color);
  border-radius: 8px;
  color: var(--main-white-text-color);
  padding: 10px 12px;
}

.products-container .show-more-bar {
  border-radius: 8px;
  border: 1px solid var(--border-gray-color);
  padding: 6px 0;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  margin-top: 24px;
  transition: 0.2s;
}

.products-container .show-more-bar:hover {
  transform: scale(1.02);
  cursor: pointer;
}
